@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/nulshock');
@import url('https://fonts.cdnfonts.com/css/noir-et-blanc');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/forum');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Rajdhani:wght@300;400;500;600;700&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Rajdhani:wght@300;400;500;600;700&family=Rubik+Maps&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
}
html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialised;
    font-weight: 700;
    //font-style: italic;
    width: 100%;
}

// h1 {

// }

.block {
    height: 50px;
    width: 200vw;
    background: red;

}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

section {
    padding: 50px;
}
 
/*-------Variables------*/
$green-color: #6cff8d;
$dark-green-color: #6cff8c7a;
$red-color: #f44336;
$blue-color: #2196f3;
$yellow-color: #ffea5c;

