.landing {
    position: relative;
    //font-family: "Rubik Maps", system-ui;
    font-family: 'Forum', sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    overflow: hidden;
    //background-image: url("../images/loaders/shapes/44.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .header {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        &__wrap {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60vw;
        }
        &__left {
            display: flex;
            align-items: center;
            gap: 2rem;
            & li {
                font-size: 18px;
                font-weight: 700;
            }
        }
        @media (max-width:1200px) {
            &__wrap {
                width: 100vw;
            }
            
        }
        @media (max-width: 650px) {
            &__sm {
                display: none;
            }
        }
        @media (max-width: 370px) {
            & {
                left: 36%;
            }
            &__wrap {
                gap: 20%;
            }
            .coolLink[data-text="Home"] {
                display: None;
            }
        }
    }
    .socials {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        z-index: 2;
    }
      
    .scrollDown {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        &__wheel {
            height: 42px;
            width: 24px;
            border-radius:10px;
            border: 2px solid #fff;
            &--inner {
                position: absolute;
                left: 10px;
                margin-top: 5px;
                width: 4px;
                height: 4px;
                background: #fff;
                border-radius: 50%;
                animation: movingwheel 0.5s linear infinite;
                @keyframes movingwheel {
                    0% {
                        top: 1px;
                    }
                    25% {
                        top: 2px; 
                    }
                    50% {
                        top: 3px;
                    }
                    75% {
                        top: 2px;
                    }
                    100% {
                        top: 1px;
                    }
                }
            }
        }
        .scrollDown__arrows {
            display: flex;
            flex-direction: column;
            align-items: center;
            .scrollDown__arrow {
                width: 15px;
                height: 15px;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(45deg);
                animation: scrollAnim 1s infinite;
                animation-direction: alternate;
                &:nth-child(1) {
                    animation-delay: 0.1s;
                }
                &:nth-child(2) {
                    animation-delay: 0.2s;
                }
                &:nth-child(3){
                    animation-delay: 0.3s;
                }
                @keyframes scrollAnim {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 0.5;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }

    } 
    // .intro{
    //     position: absolute;
    //     top: 20%;
    //     left: 1rem;
    //     width: 100%;
    //     height: 60%;
    //     z-index: 2;
    //     color: #fff;
    //     font-family: "Nulshock", sans-serif;
    //     font-family: "Noir-et-Blanc", sans-serif;
        

    //     h4 {
    //         font-size: 33px;
    //     }
    //     h1 {
    //         font-size: 35px;
    //         width: 93%;
    //         padding-top: 1rem;
    //     }
    //     @media (min-width: 600px){
    //         & h4{
    //             font-size: 40px;
    //         }
    //         & h1{
    //             font-size: 55px;
    //         }
    //     }

    //     @media (min-width: 1200px) {
    //         & {
    //             left: 5%;
    //         }
    //         & h4 {
    //             font-size: 50px;
    //         }
    //         & h1 {
    //             font-size: 70px;
    //         }
    //     }


    // }
    
}

.intro {
    font-family: 'Forum', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust width as needed */
    text-align: center;
    z-index: 2;
    
}

.intro h4, .intro h1 {
    font-family: 'Forum', sans-serif;
    font-weight: bold;
    //font-family: "Protest Strike", sans-serif;
    //font-weight: 400;
    font-style: normal;
   

    margin: 0; /* Remove default margin */
    font-size: 40px;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
    //animation: float 6s ease-in-out infinite;
}

.intro h4 {
    font-size: 25px;
    margin-bottom: 10px; /* Add spacing between the sentences */
    text-transform: uppercase;

    
    // -webkit-background-clip: text;
    // color: transparent;
    // background-clip: text;
    // background-size: 400%;
    // animation: move 5s ease infinite;
    // background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );

   // animation: float 6s ease-in-out infinite;
}

.intro h1 {
   //animation: glitch 1s linear infinite;
   text-transform: uppercase;
    

}

.intro h3 {

    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

@keyframes move {
    0%,100%{
        background-position: 200% 0%;
    }

    50%{
        background-position: 0% 200%;
    }
}

@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }


  
 
// @keyframes flip {
//     0%,80% {
//       transform: rotateY(360deg) 
//     }
//   }



// @keyframes float {
//     0% {
//       //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
//       transform: translatey(0px);
//     }
//     50% {
//       //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
//       transform: translatey(-20px);
//     }
//     100% {
//       //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
//       transform: translatey(0px);
//     }
//   }


.centered_link {
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 10%;
    cursor: pointer;
}
